.Auth-form-container-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 91vh;
  background-size: cover;
}

.Auth-form {
  width: 420px;
  background-color: rgb(37, 37, 125);
  box-shadow: rgb(37, 37, 125);
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  font-weight: 800;
}

.input-label {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

#dropdown-select-button {
  width: 100%;
}