.season-button:hover{
    color:dodgerblue;
}

.season-dropdown{
    height: auto;
    max-height: 200px;
    overflow: auto;
}

.showInfo{
    margin-top: 10%;
    background-color:rgba(248, 246, 246, 0.603);
    text-align: left;
    color: black;
    width: 340px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px;
    height: 50%;
    padding: 20px;
}

.showName{
    margin-top: 10px;
    margin-left: 20px;
}

p{
    text-align: left;
    margin-top: 10%;
}

#showInfo {
    display: flex;
    justify-content: center;
}

#showPic {
    display: flex;
    justify-content: center;
}

#detailFave {
    margin-top: 25%;
}