.nav {
  height: 100px;
  background: rgb(37, 37, 125);
  margin-bottom: 0px;
  border-bottom: 5px solid;
}

.logout {
  display: flex;
  justify-content: right;
  margin-right: 5%;
  margin-top: 3%;
}

.header.text-light {
  margin-top: 1.5%;
  margin-left: 4.5%;
}

.user-span {
  margin-top: 0.7%;
  margin-right: 5%;
}

h1:hover {
  cursor: pointer;
}
